.env
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity
.git
.gitignore
README.md
.nyc_output
coverage
.coverage
.idea
.vscode
*.swp
*.swo
*~
logs
*.log
.DS_Store
Thumbs.db