version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: DockerFile
    container_name: tourgenie_backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    depends_on:
      - redis
    env_file:
      - .env.docker
    volumes:
      - .:/backend
      - /backend/node_modules

  redis:
    image: redis:7-alpine
    container_name: tourgenie_redis
    restart: unless-stopped
    ports:
      - "6380:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - tourgenie_redis_data:/data

  redisinsight:
    image: redis/redisinsight:latest
    container_name: tourgenie_redisinsight
    restart: unless-stopped
    ports:
      - "5540:5540"
    depends_on:
      - redis

volumes:
  tourgenie_redis_data:
